# Optional override for the public Windows installer URL.
NEXT_PUBLIC_DOWNLOAD_URL=https://gitee.com/zibinyou/inspiration-drawer/releases/download/v6.0.4/Inspiration.Drawer_6.0.4_x64-setup.exe
NEXT_PUBLIC_MOBILE_DOWNLOAD_URL=https://inspiration-drawer-prod.oss-cn-hongkong.aliyuncs.com/mobile/Inspiration-Drawer-Mobile-arm64.apk
NEXT_PUBLIC_API_BASE_URL=https://api.unmind.art
